// Colors
$white: #FFFFFF;
$white-smoke: #F5F5F5;
$dark-blue: #0E0066;
$night-blue: #0B0058;
$light-slate-blue: #6455FF;
$gravel: #4A4A4A;
$bright-cyan: #00FFFF;

// Border Radius
$radius: 0.5rem;

// Fonts
$font-heading: 'Roboto Condensed', sans-serif;
$font-text: 'Roboto', sans-serif;

// Breakpoints
$bp-mobile: 768px;

$grid-breakpoints: (
	xs: 0,
	md: 768px,
	lg: 1025px,
	xl: 1440px,
);

// Transitions
$transition: 0.3s ease-out;
